# Django
DJANGO_SECRET_KEY=genera-una-clave-con-python-c manage.py shell -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
DJANGO_DEBUG=True

# Base de datos (opcional — sin esto usa SQLite)
# DATABASE_URL=postgres://usuario:password@localhost:5432/ecommerce_db

# Cloudinary (opcional — sin esto usa almacenamiento local)
# CLOUDINARY_CLOUD_NAME=tu-cloud-name
# CLOUDINARY_API_KEY=tu-api-key
# CLOUDINARY_API_SECRET=tu-api-secret

# Media (opcional — para persistencia en Render)
# MEDIA_ROOT=/var/data/media
